<h2>Edit page</h2>
<form id="editForm" method="post" action="/">
	<fieldset>
		<legend>Edit Workout:</legend>
		<label>Name:
			<input type="text" name="name" value="{{name}}" maxlength="20">
		</label>
		<label>Reps:
			<input type="text" name="reps" value="{{reps}}" size="3" maxlength="3">
		</label>
		<label>Weight:
			<input type="text" name="weight" value="{{weight}}" size="3" maxlength="3">
		</label>
		<label>Date:
			<input type="date" name="date" value="{{date}}" size="10" maxlength="10">
		</label>
		<p>Weight unit:
			<label>pounds
				<input type="radio" name="lbs" value="1" {{checkedlbs}}/>
			</label>
			<label>kilograms
				<input type="radio" name="lbs" value="0" {{checkedkilos}}/>
			</label>
		</p>

		<input type="hidden" name="id" value="{{id}}">
		
		<button type="submit">Submit</button>
	</fieldset>
</form>



	

